.main{
    font-family: 'Roboto', serif;
}

.header{
    background: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 24px;
    padding-left: 120px;
    padding-right: 120px;

}

.header .logo{
    font-size: 24px;
    font-style: bold;
}

.header .links{
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero{
    background: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px;
    gap: 50px;
    flex-wrap: wrap;
}

.hero .text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 100px;
    flex-grow: 1;
}

.hero .head{
    font-size: 48px;
    font-weight: 900;
}

.hero .subtext{
    font-size:18px;
    color: #E5E7EB;
}

.hero .button{
    background: #3882F6;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
    font-style: bold;
    align-self: baseline;
    border-radius: 10px;
    flex-shrink: 0;
}

.hero .image{
    width: 500px;
    height: 200px;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.info .head{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info .tiles{
    display: flex;
    gap: 50px;
    padding: 50px;
}

.info .tile{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info .placeholder{
    border-style: solid;
    border-width: 3px;
    border-color: #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.info .text{
    width: 150px;
    align-items: center;
    text-align: center;
    color: #1F2937;
}

.quote{
    display: flex;
    flex-direction: column;
    padding: 150px;
    color: #1F2937;
    align-items: end;
    background: #E5E7EB;
}

.quote .text{
    font-size: 36px;
    font-style: italic;
}

.quote .author{
    font-size: 25px;
    font-weight: 800;
}

.bother{
    margin: 100px;
    background: #3882F6;
    padding: 50px;
    padding-left: 150px;
    padding-right: 150px;
    border-radius: 10px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    gap: 20px;
    flex-wrap: wrap;
}

.bother .head{
    font-size: 25px;
    font-weight: 700;
}

.bother .button{
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 800;
    flex-shrink: 0;
}

.footer{
    background: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    padding: 40px;
    font-size: 18px;
}